<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.kukv.reservations.infrastructure.datasource.holder.contact.ContactRecordMapper">
    <insert id="record">
        insert into reservations.reservation_holder_contact(reservation_id, phone_number, created_at)
        values (#{reservationId.value}, #{contact.phoneNumber.value}, #{createdTime.value})
    </insert>
</mapper>
